
aside(class=" space-y-4 bg-white p-5 flex flex-col items-center ") 
    div(class="space-y-4 w-1/2")
        h3(class="block text-center text-xl uppercase font-medium border-b-2 border-gray-400") Perfil:
        img(src="/img/perfil.jpg", alt="imagen perfil" class="rounded-full w-40 h-40 mx-auto hover:scale-110 hover:rotate-12 duration-300")

    div(class="space-y-5 py-5 w-full bg-white shadow border-b-2 border-gray-200 mb-5")
        div(class="w-ful space-y-3 flex flex-col w-1/2 justify-center mx-auto ")
            p(class="text-base font-bold uppercase text-center border-b-2 border-gray-400") datos personales:

        div(class="w-ful space-y-3 flex flex-col px-3 ")
            p(class="text-sm text-gray-700 font-bold  px-2 leading-5 mt-3") Lugar de Nacimiento: 
                span(class="font-normal tex-black") La Coruña, Galicia, España.

            p(class="text-sm text-gray-700 font-bold  px-2 leading-3") Fecha de Nacimiento: 
                span(class="font-normal tex-black leading-2") 28 de junio de 1979.

            p(class="text-sm text-gray-700 font-bold  px-2 leading-5") Domicilio: 
                span(class="font-normal tex-black") A la par de la entrada de la sala de eventos “La Sierra” Casa Blanca con portón gris. Quebrada Honda. Patarrá. Desamparados.

            p(class="text-sm text-gray-700 font-bold  px-2 leading-3") Estado civil: 
                span(class="font-normal tex-black") casado.

            p(class="text-sm text-gray-700 font-bold  px-2 leading-3") Celular: 
                span(class="font-normal tex-black leading-2") 6043-7179.

            p(class="text-sm text-gray-700 font-bold  px-2 leading-3") Licencia: 
                span(class="font-normal tex-black leading-2") B1.

    div(class="container mx-auto flex flex-col items-center ")
        
        h2(class="text-3xl text-center font-bold my-5 pt-5 border-t-4 border-gray-300 w-full") Experiencia Laboral: 
        
        a(href="/laboral")
            img(src="/img/Diaper.jpeg", alt="imagen Diaper" class="shadow mb-5 w-40 h-40 mx-auto")
            h3(class="text-sm font-bold uppercase text-white bg-indigo-600 rounded py-2 px-10") Ver experiencias laborales

    div(class="container mx-auto flex flex-col items-center pt-5 border-t-4 border-gray-300 w-full")
        h2(class="text-3xl text-center font-bold my-5") Formación academica: 
        
        a(href="/estudio")
            img(src="/img/udemy.png", alt="imagen Udemy" class="shadow mb-5 w-60 h-40 mx-auto")
            h3(class="text-sm font-bold uppercase text-white bg-indigo-600 rounded py-2 px-10") Ver formación académica

    div(class="container mx-auto flex flex-col items-center pt-5 border-t-4 border-gray-300 w-full")

        nav(class="flex flex-col gap-4 items-center text-center my-5") 
        
            a(href="/pdf" class="text-sm font-bold uppercase text-white bg-indigo-600 rounded py-2 px-10") Ver Curriculum 

            a(href="/pdf/CurriculumDomingoCurbeira.pdf" download="CurriculumDomingoCurbeira.pdf" class="text-sm font-bold uppercase text-white bg-indigo-600 rounded py-2 px-10") Descargar Curriculum PDF

        nav(class="flex flex-col gap-4 items-center text-center mb-5") 

            a(href="/referencias" class="text-sm font-bold uppercase text-white bg-indigo-600 rounded py-2 px-10") Ver Cartas de Referencia 

            a(href="/certificados" class="text-sm font-bold uppercase text-white bg-indigo-600 rounded py-2 px-10") Ver Certificados 

        nav(class="flex flex-col gap-4 items-center text-center mb-5") 

           

    div(class="container mx-auto flex flex-col items-center py-5 border-y-4 border-gray-300 w-full space-y-5 ")
        h3(class="text-3xl text-center font-bold my-5") Tecnologías que manejo: 
        p(class="text-xl text-center text-gray-500 ") Frontend:
        div(class="flex flex-row my-5 items-center justify-between gap-10 p-5") 
            div(class=" w-2/6 flex flex-col items-center")
                p(class="text-center font-bold text-lg mb-3 ") html5
                img(src="/img/html5.png", alt="imagen html5" class=" mx-auto h-20 w-20")
            div(class=" w-2/6 flex flex-col items-center")
                p(class="text-center font-bold text-lg mb-3 ") CSS3
                img(src="/img/CSS3_logo.png", alt="imagen CSS3" class=" mx-auto w-20 h-20")
            div(class=" w-2/6 flex flex-col items-center")
                p(class="text-center font-bold text-lg mb-3 ") JavaScript
                img(src="/img/javascript.svg", alt="imagen JavaScript" class=" mx-auto w-20 h-20")

        div(class="flex flex-row my-5 items-center justify-between gap-10 p-5") 
            div(class="w-2/6 flex flex-col items-center")
                p(class="text-center font-bold text-lg mb-3 ") Sass
                img(src="/img/sass.png", alt="imagen html5" class=" mx-auto w-20 h-20")
            div(class="w-2/6 flex flex-col items-center")
                p(class="text-center font-bold text-lg mb-3 ") Bootstrap
                img(src="/img/bootstrap.png", alt="imagen CSS3" class=" mx-auto w-20 h-20")
            div(class="w-2/6 flex flex-col items-center")
                p(class="text-center font-bold text-lg mb-3 ") Tailwindcss
                img(src="/img/tailwind-css.png", alt="imagen JavaScript" class=" mx-auto w-20 h-20")

        div(class="flex flex-row my-5 items-center justify-center pb-5") 
            div(class="w-2/6 flex flex-col items-center")
                p(class="text-center font-bold text-lg mb-3 ") Gulp
                img(src="/img/gulp.png", alt="imagen html5" class=" mx-auto w-72 h-32")
             
                
        
        p(class="text-xl text-center text-gray-500 ") Backend:
        div(class="flex flex-row my-5 items-center justify-between gap-10 p-5") 
            div(class=" w-2/6 flex flex-col items-center")
                p(class="text-center font-bold text-lg mb-3 ") MySQL
                img(src="/img/mysql.png", alt="imagen html5" class=" mx-auto h-20 w-20")
            div(class=" w-2/6 flex flex-col items-center")
                p(class="text-center font-bold text-lg mb-3 ") Postman
                img(src="/img/postman.png", alt="imagen CSS3" class=" mx-auto w-20 h-20")
            div(class=" w-2/6 flex flex-col items-center")
                p(class="text-center font-bold text-lg mb-3 ") Node.js
                img(src="/img/Node.svg", alt="imagen JavaScript" class=" mx-auto w-20 h-20")
        p(class="text-xl text-center text-gray-500 ") Otras:
        div(class="flex flex-row my-5 items-center justify-between gap-10 p-5") 
            div(class=" w-2/6 flex flex-col items-center")
                p(class="text-center font-bold text-lg mb-3 ") Git
                img(src="/img/git.png", alt="imagen html5" class=" mx-auto h-20 w-20")
            div(class=" w-2/6 flex flex-col items-center")
                p(class="text-center font-bold text-lg mb-3 ") GitHub
                img(src="/img/github.png", alt="imagen CSS3" class=" mx-auto w-20 h-20")
            div(class=" w-2/6 flex flex-col items-center")
                p(class="text-center font-bold text-lg mb-3 ") Netlify
                img(src="/img/netlify.jpeg", alt="imagen JavaScript" class=" mx-auto w-20 h-20")

        

        div(class="flex flex-row my-5 items-center justify-center mb-5") 
            div(class="w-2/6 flex flex-col items-center")
                p(class="text-center font-bold text-lg mb-3 ") Fl0
                img(src="/img/fl0_logo.jpeg", alt="imagen html5" class=" mx-auto w-64 h-24")
        
        