
aside(class=" space-y-4 bg-white md:w-2/6 p-5 flex flex-col items-center border-e-2 border-gray-400") 
    div(class="space-y-4 w-1/2")
        h3(class="block text-center text-xl uppercase font-medium border-b-2 border-gray-400") Perfil:
        img(src="/img/perfil.jpg", alt="imagen perfil" class="rounded-full w-40 h-40 mx-auto hover:scale-110 hover:rotate-12 duration-300")

    div(class="space-y-5 py-5 w-full bg-white shadow border-b-2 border-gray-200 mb-5")
        div(class="w-ful space-y-3 flex flex-col w-1/2 justify-center mx-auto ")
            p(class="text-base font-bold uppercase text-center border-b-2 border-gray-400") datos personales:

        div(class="w-ful space-y-3 flex flex-col px-3 ")
            p(class="text-sm text-gray-700 font-bold  px-2 leading-5 mt-3") Lugar de Nacimiento: 
                span(class="font-normal tex-black") La Coruña, Galicia, España.

            p(class="text-sm text-gray-700 font-bold  px-2 leading-3") Fecha de Nacimiento: 
                span(class="font-normal tex-black leading-2") 28 de junio de 1979.

            p(class="text-sm text-gray-700 font-bold  px-2 leading-5") Domicilio: 
                span(class="font-normal tex-black") A la par de la entrada de la sala de eventos “La Sierra” Casa Blanca con portón gris. Quebrada Honda. Patarrá. Desamparados.

            p(class="text-sm text-gray-700 font-bold  px-2 leading-3") Estado civil: 
                span(class="font-normal tex-black") casado.

            p(class="text-sm text-gray-700 font-bold  px-2 leading-3") Celular: 
                span(class="font-normal tex-black leading-2") 6043-7179.

            p(class="text-sm text-gray-700 font-bold  px-2 leading-3") Licencia: 
                span(class="font-normal tex-black leading-2") B1.

    div(class="container mx-auto flex flex-col items-center ")
        h2(class="text-3xl text-center font-bold mb-5 pt-5 border-t-4 border-gray-300 w-full") Experiencia Laboral: 
        
        a(href="#")
            img(src="/img/Diaper.jpeg", alt="imagen Diaper" class="shadow mb-5")
            h3(class="text-center text-xl text-indigo-600") Ver experiencias laborales

    div(class="container mx-auto flex flex-col items-center pt-5 border-t-4 border-gray-300 w-full")
        h2(class="text-3xl text-center font-bold mb-5") Formación academica: 
        
        a(href="#")
            img(src="/img/udemy.png", alt="imagen Diaper" class="shadow mb-5")
            h3(class="text-center text-xl text-indigo-600") Ver formación académica

    div(class="container mx-auto flex flex-col items-center pt-5 border-t-4 border-gray-300 w-full")
        h2(class="text-3xl text-center font-bold mb-5") Cartas de recomendación: 
        
        a(href="#")
            img(src="/img/DiaperReferencia.jpg", alt="imagen Diaper" class="shadow mb-5")
            h3(class="text-center text-xl text-indigo-600") Ver cartas de recomendación
        nav(class="flex flex-col gap-4 items-center mt-10 w-full")
            a(href="#" class="text-sm font-bold uppercase bg-indigo-600 text-white w-full px-10 py-1 text-center rounded hover:bg-indigo-900") Casas 
            a(href="#" class="text-sm font-bold uppercase bg-indigo-600 text-white w-full px-10 py-1 text-center rounded hover:bg-indigo-900") Departamentos 
            a(href="#" class="text-sm font-bold uppercase bg-indigo-600 text-white w-full px-10 py-1 text-center rounded hover:bg-indigo-900") Bodegas 
            a(href="#" class="text-sm font-bold uppercase bg-indigo-600 text-white w-full px-10 py-1 text-center rounded hover:bg-indigo-900") Terrenos 
            a(href="#" class="text-sm font-bold uppercase bg-indigo-600 text-white w-full px-10 py-1 text-center rounded hover:bg-indigo-900") Cabañas 