main(class=" pt-5")
    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow  flex flex-col items-center")
        h2(class="text-center font-bold text-3xl text-gray-700 mb-5") #{pagina}:
    
    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow mt-5 flex flex-col md:flex-row justify-between gap-4 items-center")

        div(class="md:w-2/4 flex flex-col")

            img(src="/img/polideportivo.png", alt="carta referencia polideportivo" class="")
            p(class="font-bold text-indigo-600 text-lg text-center my-5") Carta de Referencia de: 
                span(class="font-normal text-gray-600 block") Centro Deportivo y Socio Cultural del Cuartel de Cuatro Vientos

            a(href="/img/Centro deportivo y Socio Cultural C. Vientos.png" download="Centro deportivo y Socio Cultural C. Vientos.png" class="text-sm font-bold uppercase text-white bg-indigo-600 rounded py-2 px-10 text-center") Descargar Carta de Referencia

        div(class="md:w-2/4 flex flex-col")

            img(src="/img/CoronelAngulo.png", alt="carta referencia Coronel Angulo" class="")
            p(class="font-bold text-indigo-600 text-lg text-center my-5") Carta de Referencia de: 
                span(class="font-normal text-gray-600 block") Coronel Angulo - Cuartel del Infante Don Juan - Diaper

            a(href="/img/CoronelAngulo.png" download="CoronelAngulo.png" class="text-sm font-bold uppercase text-white bg-indigo-600 rounded py-2 px-10 text-center") Descargar Carta de Referencia

    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow mt-5 flex flex-col md:flex-row justify-between gap-4 items-center")

        div(class="md:w-2/4 flex flex-col")

            img(src="/img/cdteTaboada.png", alt="carta referencia Maestranza" class="")
            p(class="font-bold text-indigo-600 text-lg text-center my-5") Carta de Referencia de: 
                span(class="font-normal text-gray-600 block") Comandante Taboada - Cafeteria de la Maestranza - Cuatro Vientos

            a(href="/img/cdteTaboada.png" download="cdteTaboada.png" class="text-sm font-bold uppercase text-white bg-indigo-600 rounded py-2 px-10 text-center") Descargar Carta de Referencia

        div(class="md:w-2/4 flex flex-col")

            img(src="/img/cdteRicardo.png", alt="carta referencia Comandante Ricardo" class="")
            p(class="font-bold text-indigo-600 text-lg text-center my-5") Carta de Referencia de: 
                span(class="font-normal text-gray-600 block") Comandante Ricardo Diez - Jefe escuadrón de talleres - Maestranza

            a(href="/img/cdteRicardo.png" download="cdteRicardo.png" class="text-sm font-bold uppercase text-white bg-indigo-600 rounded py-2 px-10 text-center") Descargar Carta de Referencia

    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow mt-5 flex flex-col md:flex-row justify-between gap-4 items-center")

        div(class="md:w-2/4 flex flex-col")

            img(src="/img/Ramajo.png", alt="carta referencia Diaper" class="")
            p(class="font-bold text-indigo-600 text-lg text-center my-5") Carta de Referencia de: 
                span(class="font-normal text-gray-600 block") Teniente Coronel José Ramajo - Dirección de Asidtencia al Personal del Ejercito de Tierra

            a(href="/img/Ramajo.png" download="Ramajo.png" class="text-sm font-bold uppercase text-white bg-indigo-600 rounded py-2 px-10 text-center") Descargar Carta de Referencia