main(class=" pt-5")
    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow  flex flex-col items-center")
        h2(class="text-center font-bold text-3xl text-gray-700 mb-5") #{pagina}:
    
    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow mt-5 flex flex-col items-center")

        img(src="/img/CertificadoCSS.jpeg", alt="imagen certificado CSS")
        p(class="font-bold text-indigo-600 text-lg text-center my-5") Certificado en CSS3


    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow mt-5 flex flex-col items-center")

        img(src="/img/CertificadoBootstrap.png", alt="imagen certificado Bootstrap" class="my-5")
        p(class="font-bold text-indigo-600 text-lg text-center my-5") Certificado en Bootstrap

    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow mt-5 flex flex-col items-center")

        img(src="/img/CertificadoCursoJavaScript.png", alt="imagen certificado JavaScript")
        p(class="font-bold text-indigo-600 text-lg text-center my-5") Certificado en JavaScript


    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow mt-5 flex flex-col items-center")

        img(src="/img/AtencionCliente2.png", alt="imagen certificado cocina")
        p(class="font-bold text-indigo-600 text-lg text-center my-5") Certificado en atención al cliente
        
    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow mt-5 flex flex-col items-center")

        img(src="/img/cocina.png", alt="imagen certificado cocina")
        p(class="font-bold text-indigo-600 text-lg text-center my-5") Certificado en cocina profesional