main(class="  md:w-4/6 pt-5")
    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow mt-5 flex flex-col items-center")
        h2(class="text-center font-bold text-3xl text-gray-700 mb-5") Formación Académica: 

        img(src="/img/udemy.png", alt="logo empresa" class="w-1/4")
        
        h2(class="text-center font-bold text-xl text-indigo-600 mt-5") CSS La Guía Completa - Flexbox, CSS Grid, SASS +20 proyectos:
        
        div(class="flex flex-col md:flex-row items-center mt-5")
            div(class="md:w-2/6 ")

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Fecha de finalización: 
                    span(class="font-normal text-black") 27 octubre 2023.

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Profesor: 
                    span(class="font-normal text-black") Juan De la Torre.

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Academia: 
                    span(class="font-normal text-black") Udemy.

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Horas del curso: 
                    span(class="font-normal text-black") 37 horas.


            div(class="md:w-4/6 flex flex-col p-5 justify-center md:border-s-2 border-gray-200")
                

                table(class="text-base text-gray-800 text-center font-bold  p-2 mt-3 w-full mx-auto border border-gray-200")
                    t-head 
                        tr 
                            th(class="border border-gray-200 p-2 bg-gray-100") Conocimientos impartidos:

                    t-body
                        tr
                            td(class="text-sm font-normal p-2 border border-gray-200") Flexbox y CSS Grid. 
                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200")  Logical Properties. 

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") BEM.

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Unidades y Medidas.

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Responsive Web Design con Mobile First.

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Media Queries.

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200")  HTML: etiquetas, formularios, imágenes, videos, etc.  

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200")  Custom Properties.  

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Gulp Workflows.

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200")  SASS - Mixins, Variables, Funciones  y todo lo necesario para dominar SASS. 

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200")  BEM con SASS. 
                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200")  Animaciones, Transiciones y Transformaciones. 

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200")  Optimización de Sitios Web. 

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200")  Imágenes Webp y Avif. 
        
        div(class=" flex flex-col mt-5")
            h2(class="text-center font-bold text-2xl text-indigo-600 mt-5") Proyectos Credos:
            div(class="flex flex-col md:flex-row gap-2")
                div(class="md:w-2/6 my-5 p-5 text-center border-2 border-gray-300 shadow")
                    a(href="https://appcomidadimanse.netlify.app" target="_blank") App de Delivery 
                        img(src="/img/appComida.png", alt="imagen proyecto" class="my-5 shadow")
                div(class="md:w-2/6 my-5 p-5 text-center border-2 border-gray-300 shadow")
                    a(href="https://carolinaspadimanse.netlify.app/" target="_blank") Salón de belleza 
                        img(src="/img/belleza.png", alt="imagen proyecto" class="my-5 shadow")
                div(class="md:w-2/6 my-5 p-5 text-center border-2 border-gray-300 shadow")
                    a(href="https://airbnbsimulador.netlify.app/" target="_blank") Clon de AirBnb
                        img(src="/img/airBnb.png", alt="imagen proyecto" class="my-5 shadow")

    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow mt-5 flex flex-col items-center")

        img(src="/img/udemy.png", alt="logo empresa" class="w-1/4 mt-5")
        
        h2(class="text-center font-bold text-xl text-indigo-600 mt-5") La nueva versión de Bootstrap con SASS - Además incluye: Gulp, Parcel, NPM, Performance y Buenas Practicas!:
        
        div(class="flex flex-col md:flex-row items-center mt-5")
            div(class="md:w-2/6 ")

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Fecha de finalización: 
                    span(class="font-normal text-black") 29 de agosto de 2023.

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Profesor: 
                    span(class="font-normal text-black") Juan De la Torre.

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Academia: 
                    span(class="font-normal text-black") Udemy.

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Horas del curso: 
                    span(class="font-normal text-black") 13 horas.


            div(class="md:w-4/6 flex flex-col p-5 justify-center md:border-s-2 border-gray-200")
                

                table(class="text-base text-gray-800 text-center font-bold  p-2 mt-3 w-full mx-auto border border-gray-200")
                    t-head 
                        tr 
                            th(class="border border-gray-200 p-2 bg-gray-100") Conocimientos impartidos:

                    t-body
                        tr
                            td(class="text-sm font-normal p-2 border border-gray-200") Aprende el Nuevo Framework Bootstrap 4. 
                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200")  Aprender desarrollo de temas de WordPress con Bootstrap. 

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Crear un sitio web completo con Bootstrap 4.

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Entender el Framework más popular del mundo, Bootstrap 4.

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Responsive Web Design con Mobile First.

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Media Queries con Bootstrap 5.

                         
        
        div(class=" flex flex-col mt-5")
            h2(class="text-center font-bold text-2xl text-indigo-600 mt-5") Proyectos Credos:
            div(class="flex flex-col md:flex-row gap-2")
                div(class="md:w-2/6 my-5 p-5 text-center border-2 border-gray-300 shadow")
                    a(href="https://dimanseuniversidad.netlify.app/" target="_blank") Clon Udemy 
                        img(src="/img/u.png", alt="imagen proyecto" class="my-5 shadow")
                div(class="md:w-2/6 my-5 p-5 text-center border-2 border-gray-300 shadow")
                    a(href="https://dimansemetti.netlify.app" target="_blank") Clon Meeti 
                        img(src="/img/meeti.png", alt="imagen proyecto" class="my-5 shadow")
                div(class="md:w-2/6 my-5 p-5 text-center border-2 border-gray-300 shadow")
                    a(href="https://podcastfmsimulador.netlify.app/" target="_blank") app Podcast
                        img(src="/img/podcast.png", alt="imagen proyecto" class="my-5 shadow")

    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow mt-5 flex flex-col items-center") 

        img(src="/img/udemy.png", alt="logo empresa" class="w-1/4 mt-5")
        
        h2(class="text-center font-bold text-xl text-indigo-600 mt-5") JavaScript Moderno Guía Definitiva Construye +20 Proyectos:
        
        div(class="flex flex-col md:flex-row items-center mt-5")
            div(class="md:w-2/6 ")

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Fecha de finalización: 
                    span(class="font-normal text-black") 19 de Julio de 2023.

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Profesor: 
                    span(class="font-normal text-black") Juan De la Torre.

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Academia: 
                    span(class="font-normal text-black") Udemy.

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Horas del curso: 
                    span(class="font-normal text-black") 50,5 horas.


            div(class="md:w-4/6 flex flex-col p-5 justify-center md:border-s-2 border-gray-200")
                

                table(class="text-base text-gray-800 text-center font-bold  p-2 mt-3 w-full mx-auto border border-gray-200")
                    t-head 
                        tr 
                            th(class="border border-gray-200 p-2 bg-gray-100") Conocimientos impartidos:

                    t-body
                        tr
                            td(class="text-sm font-normal p-2 border border-gray-200") Aprenderás a consumir distintas REST APIS con JSON y Fetch API + Async / Await, uno de los temas más importantes como desarrollador JavaScript. 
                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") JavaScript es el lenguaje más buscado por los empleadores hoy en día. 

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Aprenderás Lo básico del lenguaje así como conceptos más avanzados.

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Programación orientada a objetos con Classes (ES6) y Prototypes (ES5).

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Conceptos nuevos en ES6 como Template Literals, arrow functions, generadores, iteradores, promises, async / await, fetch api y mucho mas.

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Programación Asincrona con Promises, Callbacks y Async Await.

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Construiremos una gran cantidad de proyectos, consumiendo REST API's y otros con código puro de JavaScript.
                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Agregar interacción a tus aplicaciones y páginas web.

                         
        
        div(class=" flex flex-col mt-5")
            h2(class="text-center font-bold text-2xl text-indigo-600 mt-5") Proyectos Credos:
            div(class="flex flex-col md:flex-row gap-2")
                div(class="md:w-2/6 my-5 p-5 text-center border-2 border-gray-300 shadow")
                    a(href="https://dimansebuscadorautos.netlify.app/" target="_blank") Simulador de buscador de autos 
                        img(src="/img/autos.png", alt="imagen proyecto" class="my-5 shadow")
                div(class="md:w-2/6 my-5 p-5 text-center border-2 border-gray-300 shadow")
                    a(href="https://dimansesimuladorcitas.netlify.app/" target="_blank") Simulador para citas de vetereinaria 
                        img(src="/img/citas.png", alt="imagen proyecto" class="my-5 shadow")
                div(class="md:w-2/6 my-5 p-5 text-center border-2 border-gray-300 shadow")
                    a(href="https://dimansesimuladorrecetas.netlify.app/" target="_blank") Simulador de buscador de recetas de cocina
                        img(src="/img/recetas.png", alt="imagen proyecto" class="my-5 shadow") 

    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow mt-5 flex flex-col items-center") 

        img(src="/img/ccc.jpeg", alt="logo empresa" class="w-1/4 mt-5")
        
        h2(class="text-center font-bold text-xl text-indigo-600 mt-5")  Cocina profesional:
        
        div(class="flex flex-col md:flex-row items-center mt-5")
            div(class="md:w-2/6 ")

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Fecha de finalización: 
                    span(class="font-normal text-black") 26 de enero de 2002.

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Academia: 
                    span(class="font-normal text-black") Centro de estudios CCC. España.

            


            div(class="md:w-4/6 flex flex-col p-5 justify-center md:border-s-2 border-gray-200")
                

                table(class="text-base text-gray-800 text-center font-bold  p-2 mt-3 w-full mx-auto border border-gray-200")
                    t-head 
                        tr 
                            th(class="border border-gray-200 p-2 bg-gray-100") Conocimientos impartidos:

                    t-body
                        tr
                            td(class="text-sm font-normal p-2 border border-gray-200") Tecnología Culinaria.   
                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Organización y administración de la cocina profesional.

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Historia de la cocina. 

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Recetario Culinario.  .

                        

                         
        
        div(class=" flex flex-col mt-5")
            h2(class="text-center font-bold text-2xl text-indigo-600 mt-5") Selección de platos credos:
            div(class="flex flex-col md:flex-row gap-2")
                div(class="md:w-2/6 my-5 p-5 text-center border-2 border-gray-300 shadow")
                    p(class="") Tartar de atun fresco con gulas salteadas al ajillo 
                    img(src="/img/tartar.jpg", alt="imagen proyecto" class="my-5 shadow")
                div(class="md:w-2/6 my-5 p-5 text-center border-2 border-gray-300 shadow")
                    p Carabinero sobre cama de patatitas salteadas con huevo
                        img(src="/img/carabinero.jpg", alt="imagen proyecto" class="my-5 shadow")
                div(class="md:w-2/6 my-5 p-5 text-center border-2 border-gray-300 shadow")
                    p Ensalada de brotes frescos con bacalao al vapor
                        img(src="/img/ensalada.jpg", alt="imagen proyecto" class="my-5 shadow")

            div(class="flex flex-col md:flex-row gap-2")
                div(class="md:w-2/6 my-5 p-5 text-center border-2 border-gray-300 shadow")
                    p(class="") bizcocho ligero de choclate con culis de fresas
                    img(src="/img/postre.jpg", alt="imagen proyecto" class="my-5 shadow")
                div(class="md:w-2/6 my-5 p-5 text-center border-2 border-gray-300 shadow")
                    p Tosta de pan artesanal con guacamole y camarones
                        img(src="/img/tosta.jpg", alt="imagen proyecto" class="my-5 shadow")
                div(class="md:w-2/6 my-5 p-5 text-center border-2 border-gray-300 shadow")
                    p Torrija rellena de chocolate sobre sopa tibia de vainilla
                        img(src="/img/torrija.jpg", alt="imagen proyecto" class="my-5 shadow") 