main(class=" pt-5")
    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow  flex flex-col items-center")
        h2(class="text-center font-bold text-3xl text-gray-700 mb-5") #{titulo}:
    
    div(class="space-x-5 bg-white md:w-11/12 mx-auto md:p-5 shadow mt-5 flex flex-col justify-center")
        div(class="linea-tiempo ")

            div(class="momento")
                h3 01 de noviembre de 2023
                div(class="descripcion")
                    Poop Empiezo a estudiar el curso de Node.js en la Academia Virtual Udemy.

            div(class="momento")
                h3 27 de octubre de 2023
                div(class="descripcion")
                    Poop Obtengo el Título de CSS3: La Guía Completa en la Academia Virtual Udemy.
                    img(src="/img/CertificadoCSS.jpeg", alt="imagen empresa" class="mx-auto w-20 mt-2")

            div(class="momento")
                h3 01 de septiembre de 2023
                div(class="descripcion")
                    Poop Empiezo a estudiar CSS3: La Guía Completa en la Academia Virtual Udemy.

            div(class="momento")
                h3 29 de agosto de 2023
                div(class="descripcion")
                    Poop Obtengo mi Título de Bootstrap en la Academia Virtual Udemy.
                    img(src="/img/certificadoBootstrap.png", alt="imagen empresa" class="mx-auto w-20 mt-2")

            div(class="momento")
                h3 25 de julio de 2023
                div(class="descripcion")
                    Poop Empiezo a estudiar el framework de estilos Bootstrap en la Academia Virtual Udemy.


            div(class="momento")
                h3 19 de julio de 2023
                div(class="descripcion")
                    Poop Obtengo el Título en JavaScript en la Academia Virtual Udemhy.
                    img(src="/img/CertificadoCursoJavaScript.png", alt="imagen empresa" class="mx-auto w-20 mt-2")

            div(class="momento")
                h3 05 de mayo de 2023
                div(class="descripcion")
                    Poop Empiezo a trabajar como Cocinero jefe en el Restaurante Terrazas San Antonio en Desamparados.
                    img(src="/img/2.jpg", alt="imagen empresa" class="mx-auto w-20 mt-2")

            div(class="momento")
                h3 01 de mayo de 2023
                div(class="descripcion")
                    Poop Empiezo a estudiar JavaScript en la Academia Virtual Udemy.

            div(class="momento")
                h3 01 de marzo de 2020
                div(class="descripcion")
                    Poop Finalizo mi contrato de Cocinero en la cafetería Canela y Miel de Gravilias en Desamparados.

            div(class="momento")
                h3 15 de octubre de 2019
                div(class="descripcion")
                    Poop Entro a trabjar como Cocinero en la cafetería Canela y Miel de Gravilias en Desamparados.

            div(class="momento")
                h3 21 de junio de 2019
                div(class="descripcion")
                    Poop Me cambio a vivir a Costa Rica.

            div(class="momento")
                h3 20 junio de 2019
                div(class="descripcion")
                    Poop Finalizo mi contrato de Chef en el cuartel de cuatro vientos en la cafetería de la Maestranza. Madrid. Después de más de 4 años.
                    img(src="/img/maesma-g.jpeg", alt="imagen empresa" class="mx-auto w-20 mt-2")

            div(class="momento")
                h3 20 de junio de 2019
                div(class="descripcion")
                    Poop finalizo mi contrato como Chef  en el cuartel del Infante Don Juan dentro de la cafetería de Dirección y Asistencia al personal. Madrid. Después de más de 4 años.
                    img(src="/img/Diaper.jpeg", alt="imagen empresa" class="mx-auto w-20 mt-2")

            div(class="momento")
                h3 02 de febrero de 2015
                div(class="descripcion")
                    Poop Empiezo a trabjar como Chef  en el cuartel del Infante Don Juan dentro de la cafetería de Dirección y Asistencia al personal. Madrid.
                    img(src="/img/Diaper.jpeg", alt="imagen empresa" class="mx-auto w-20 mt-2")

            div(class="momento")
                h3 31 de enero de 2015
                div(class="descripcion")
                    Poop Termino mi trabajo como chef en la Cámara naval de suboficiales. Madrid. Después de 10 años en el centro.
                    img(src="/img/camaraNaval.png", alt="imagen empresa" class="mx-auto w-20 mt-2")

            div(class="momento")
                h3 31 de enero de 2014
                div(class="descripcion")
                    Poop Empiezo a trabajar como Chef en el cuartel de cuatro vientos en la cafetería de la Maestranza. Madrid.
                    img(src="/img/maesma-g.jpeg", alt="imagen empresa" class="mx-auto w-20 mt-2")

            div(class="momento")
                h3 31 de julio de 2013
                div(class="descripcion")
                    Poop Finalizo mi trabajo como Chef en en el centro deportivo y socio cultural del cuartel de cuatro vientos. Madrid. Después de casi 3 años
                    img(src="/img/cdscm.png", alt="imagen empresa" class="mx-auto w-20 mt-2")

            div(class="momento")
                h3 17 de septiembre de 2010
                div(class="descripcion")
                    Poop Entro a trabajar como Chef en el centro deportivo y socio cultural del cuartel de cuatro vientos. Madrid.
                    img(src="/img/cdscm.png", alt="imagen empresa" class="mx-auto w-20 mt-2")

            div(class="momento")
                h3 01 de marzo de 2008
                div(class="descripcion")
                    Poop Asciendo a Chef.

            div(class="momento")
                h3 20 de abril de 2006
                div(class="descripcion")
                    Poop Asciendo a Cocinero.

            div(class="momento")
                h3 26 de septiembre de 2005
                div(class="descripcion")
                    Poop Asciendo a Ayudante de Cocina.

            div(class="momento")
                h3 13 de junio de 2005
                div(class="descripcion")
                    Poop Entro como Pinche de Cocina en la Cámara Naval de Suboficiales de Madrid.
                    img(src="/img/camaraNaval.png", alt="imagen empresa" class="mx-auto w-20 mt-2")

            div(class="momento")
                h3 5 de noviembre de 2002.
                div(class="descripcion")
                    Poop Consigo el Título de Empleado de Información al Cliente.
                    img(src="/img/atencionCliente2.png", alt="imagen titulo" class="w-20 mx-auto mt-2")

            div(class="momento")
                h3  26 de enero de 2002.
                div(class="descripcion")
                    Poop Obtengo el Título de Cocina Profesional
                    img(src="/img/cocina.png", alt="imagen titulo" class="w-20 mx-auto mt-2")

            
                    

            div(class="momento")
                h3 20 de mayo de 1994
                div(class="descripcion")
                    Poop Finalizo mis estudios en el Colegio Público "María Pita".
                    img(src="/img/mariaPita.png", alt="imagen colegio" class="w-20 mx-auto mt-2")
            
