main(class="  md:w-4/6 pt-5")
    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow")
        h2(class="text-center font-bold text-xl text-gray-700") OBJETIVOS Y HABILIDADES:  
        div(class="pb-4 mt-5 space-y-3")
            p Con más de 15 años como profesional del sector de la gastronomía y 12 como cocinero jefe, conozco con exactitud los aportes nutricionales de los platos que preparo. He desarrollado mi carrera profesional en empresas que prestan servicio a las fuerzas armadas, principalmente al ejército del aire, con altos niveles de exigencia en nutrición y calidad de menús, así como de seguridad alimentaria, organización, planificación y control de costes.   

            p Uno de mis objetivos como cocinero es crear platos nutritivos bajos en grasas y calorías, también aptos para dietas con restricciones por alergias, intolerancias o diabetes, esta última en la que me he especializado. Habituado a gestionar y coordinar equipos, me gustaría continuar mi formación y experiencia en una empresa me permita compartir mis conocimientos gastronómicos con compañeros del sector y desarrollar mi carrera profesional en Costa Rica, a donde me he trasladado por motivos familiares.  

            p No solo me cierro a la hosteleria, también puedo aportar a otros sectores mi experiencia y habilidades en planificación, organización de personas y recursos, negociación de compras, gestión de stocks y control de calidad, habilidades que he desarrollado todos estos años.  
            p Soy una persona alegre, responsable, extrovertida y comprometida con el trabajo que desarrollo. 
        
    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow mt-5")
        h2(class="text-center font-bold text-xl text-gray-700") Última experiencia laboral: 
        
        h2(class="text-center font-bold text-xl text-indigo-600 mt-5") Terrazas San Antonio: 
        
        div(class="flex md:flex-row items-center mt-5")
            div(class="md:w-2/6 ")

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Fecha: 
                    span(class="font-normal text-black") 05 / mayo / 2023 - hasta la actualidad.

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Ocupación: 
                    span(class="font-normal text-black") Jefe de cocina.

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Lugar: 
                    span(class="font-normal text-black") San Antonio de Desamparados.


            div(class="md:w-4/6 flex flex-col p-5 justify-center border-s-2 border-gray-200")
                

                table(class="text-base text-gray-700 text-center font-bold  p-2 mt-3 w-full mx-auto border border-gray-200")
                    t-head 
                        tr 
                            th(class="border border-gray-200 p-2 bg-gray-100") Funciones

                    t-body
                        tr
                            td(class="text-sm font-normal p-2 border border-gray-200") Elaboración y presentación de los distintos platos de la carta. 
                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200")  Soporte de ayuda al chef para la modificación de los distintos platos tanto en su     receta original como en el cálculo del coste de cada plato. 

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Configuración y realización de pedidos de las materias primas.

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Configuración y realización de pedidos de las materias primas.

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Verificación y anotación de los distintos registros de cocina.

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Registros de recepción de pedidos.

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200")  Registros de temperaturas de las cámaras frigoríficas y arcones congeladores.  

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200")  Registros de la limpieza de los distintos elementos de cocina.  

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Registros de cambio de aceite de freidoras.

                        tr 
                            td(class="text-sm font-normal p-2 border border-gray-200") Asesoramiento junto con el chef ejecutivo de la contratación de personal de sustitución
        
        

    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow mt-5")
        h2(class="text-center font-bold text-xl text-gray-700") Última formación académica adquirida: 
        
        h2(class="text-center font-bold text-xl text-indigo-600 mt-5") CSS La Guía Completa - Flexbox, CSS Grid, SASS +20 proyectos: 
        
        div(class="flex md:flex-row items-center mt-5")
            div(class="md:w-2/6  ")

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Fecha de finalización: 
                    span(class="font-normal text-black") 27 / octubre / 2023.

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Profesor: 
                    span(class="font-normal text-black") Juan De la Torre.

                p(class="text-base text-gray-700 font-bold  px-2 leading-5 mt-3") Centro: 
                    span(class="font-normal text-black") Udemy.


            div(class="md:w-4/6 flex flex-col p-5 justify-center border-s-2 border-gray-200")
                

                img(src="img/CertificadoCSS.jpeg", alt="imagen certificado" class=" mx-auto")

                        



