div(class="space-x-5 bg-white w-11/12 mx-auto p-5 shadow")
        h2(class="text-center font-bold text-xl text-gray-700") OBJETIVOS Y HABILIDADES:  
        div(class="pb-4 mt-5 space-y-3")
            p Con más de 18 años como profesional del sector de la gastronomía y 15 como cocinero jefe, conozco con exactitud los aportes nutricionales de los platos que preparo. He desarrollado mi carrera profesional en empresas que prestan servicio a las fuerzas armadas, principalmente al ejército del aire, con altos niveles de exigencia en nutrición y calidad de menús, así como de seguridad alimentaria, organización, planificación y control de costes.   

            p No me cierro solo a la hosteleria, también puedo aportar a otros sectores mi experiencia y habilidades en planificación, organización de personas y recursos, negociación de compras, gestión de stocks y control de calidad, habilidades que he desarrollado todos estos años.

            p Estoy habituado a gestionar y coordinar equipos.
            
            P Poseo también conocimientos en desarrollo de aplicaciones y páginas web, dado que este último año he dedicado gran parte de mi tiempo libre al estudio de diferentes áreas de esta carrera.
            
            p He adquirido conocimientos como de soldador, fontanero, pintor, electricista, albañil y mantenimiento de jardines ya que desde que llegue a Costa Rica me fue más fácil encontrar trabajo en estos sectores antes que en la hosteleria.

            p Soy una persona alegre, responsable, extrovertida y comprometida con el trabajo que desarrollo. 