aside(class=" space-y-4 bg-white p-5 flex flex-col md:flex-row w-11/12 items-center mx-auto") 
    div(class="space-y-4 w-1/2")
        h3(class="block text-center text-xl uppercase font-medium ") Foto de Perfil:
        img(src="/img/perfil.jpg", alt="imagen perfil" class="rounded-full w-40 h-40 mx-auto hover:scale-110 hover:rotate-12 duration-300")

    div(class="space-y-5 py-5 w-full bg-white shadow border-b-2 border-gray-200 mb-5")
        div(class="w-ful space-y-3 flex flex-col w-1/2 justify-center mx-auto ")
            p(class="text-base font-bold uppercase text-center ") datos personales:

        div(class="w-ful space-y-3 flex flex-col px-3 ")
            p(class="text-sm text-gray-700 font-bold  px-2 leading-5 mt-3") Lugar de Nacimiento: 
                span(class="font-normal tex-black") La Coruña, Galicia, España.

            p(class="text-sm text-gray-700 font-bold  px-2 leading-3") Fecha de Nacimiento: 
                span(class="font-normal tex-black leading-2") 28 de junio de 1979.

            p(class="text-sm text-gray-700 font-bold  px-2 leading-5") Domicilio: 
                span(class="font-normal tex-black") A la par de la entrada de la sala de eventos “La Sierra” Casa Blanca con portón gris. Quebrada Honda. Patarrá. Desamparados.

            p(class="text-sm text-gray-700 font-bold  px-2 leading-3") Estado civil: 
                span(class="font-normal tex-black") casado.

            p(class="text-sm text-gray-700 font-bold  px-2 leading-3") Celular: 
                span(class="font-normal tex-black leading-2") 6043-7179.

            p(class="text-sm text-gray-700 font-bold  px-2 leading-3") Licencia: 
                span(class="font-normal tex-black leading-2") B1.