main(class="pt-5")
    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 mt-5 flex flex-col items-center")
        h2(class="text-center font-bold text-sm text-gray-700 mb-5") Últimas experiencias laborales: 

        img(src="/img/2.jpg", alt="logo empresa" class="w-20 h-20")
        
        h2(class="text-center font-bold text-base text-indigo-600 mt-5") Terrazas San Antonio: 
        
        div(class="flex flex-col md:flex-row items-center mt-5")
            div(class="md:w-2/6 ")

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Fecha: 
                    span(class="font-normal text-black") 05 mayo 2023 - hasta la actualidad.

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Ocupación: 
                    span(class="font-normal text-black") Jefe de cocina.

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Lugar: 
                    span(class="font-normal text-black") San Antonio de Desamparados.

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Empresa: 
                    span(class="font-normal text-black") Terrazas San Antonio.


            div(class="md:w-4/6 flex flex-col p-5 justify-center md:border-s-2 border-gray-200")
                

                table(class="text-xs text-gray-800 text-center font-bold  p-2 mt-3 w-full mx-auto border border-gray-200")
                    t-head 
                        tr 
                            th(class="border border-gray-200 p-2 bg-gray-100") Funciones:

                    t-body
                        tr
                            td(class="text-xs font-normal p-2 border border-gray-200") Elaboración y presentación de los distintos platos de la carta. 
                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Soporte de ayuda al chef para la modificación de los distintos platos tanto en su     receta original como en el cálculo del coste de cada plato. 

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Configuración y realización de pedidos de las materias primas.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Configuración y realización de pedidos de las materias primas.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Verificación y anotación de los distintos registros de cocina.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Registros de recepción de pedidos.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Registros de temperaturas de las cámaras frigoríficas y arcones congeladores.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Registros de la limpieza de los distintos elementos de cocina.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Registros de cambio de aceite de freidoras.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Asesoramiento junto con el chef ejecutivo de la contratación de personal de sustitución

    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 mt-5 flex flex-col items-center")
        

        img(src="/img/Diaper.jpeg", alt="logo empresa" class="w-20 h-20")
        
        h2(class="text-center font-bold text-base text-indigo-600 mt-5") Dirección de asistencia al personal (Diaper): 
        
        div(class="flex flex-col md:flex-row items-center mt-5")
            div(class="md:w-2/6 ")

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Fecha: 
                    span(class="font-normal text-black") 02 Febrero / 2015 -  / Junio / 2019

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Ocupación: 
                    span(class="font-normal text-black") Jefe de cocina.

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Lugar: 
                    span(class="font-normal text-black") Cuartel Infante Don Juan, Madrid, España.

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Empresa: 
                    span(class="font-normal text-black") Fontenebro Servicios de Ingeniería S.L.


            div(class="md:w-4/6 flex flex-col p-5 justify-center md:border-s-2 border-gray-200")
                

                table(class="text-xs text-gray-800 text-center font-bold  p-2 mt-3 w-full mx-auto border border-gray-200")
                    t-head 
                        tr 
                            th(class="border border-gray-200 p-2 bg-gray-100") Funciones:

                    t-body
                        tr
                            td(class="text-xs font-normal p-2 border border-gray-200") Configuración, elaboración y presentación de menús de bajo coste. 
                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Configuración, elaboración y presentación de menús de gala para celebraciones especiales. 

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Configuración y realización de pedidos de las materias primas.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Relación profesional con los distintos proveedores.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Verificación y anotación de los distintos registros de cocina:  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Registros de recepción de pedidos.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Registros de temperaturas de las cámaras frigoríficas y arcones congeladores.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Registros de la limpieza de los distintos elementos de cocina.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Registros de cambio de aceite de freidoras.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Registros de la elaboración de menús.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Elaboración de escandallos de los distintos platos.    

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Responsable de contratación de menús especiales con los clientes. 

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Responsable del asesoramiento a la empresa de la contratación de personal de sustitución.

    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 mt-5 flex flex-col items-center")
        

        img(src="/img/maesma-g.jpeg", alt="logo empresa" class="w-20 h-12")
        
        h2(class="text-center font-bold text-base text-indigo-600 mt-5") Cafetería de la Maestranza: 
        
        div(class="flex flex-col md:flex-row items-center mt-5")
            div(class="md:w-2/6 ")

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Fecha: 
                    span(class="font-normal text-black") 31 Enero 2014 - 20 Junio 2019 

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Ocupación: 
                    span(class="font-normal text-black") Jefe de cocina.

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Lugar: 
                    span(class="font-normal text-black") Cuartel de Cuatro Vientos, Madrid, España.

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Empresa: 
                    span(class="font-normal text-black") Fontenebro Servicios de Ingeniería S.L.


            div(class="md:w-4/6 flex flex-col p-5 justify-center md:border-s-2 border-gray-200")
                

                table(class="text-xs text-gray-800 text-center font-bold  p-2 mt-3 w-full mx-auto border border-gray-200")
                    t-head 
                        tr 
                            th(class="border border-gray-200 p-2 bg-gray-100") Funciones:

                    t-body
                        tr
                            td(class="text-xs font-normal p-2 border border-gray-200") Configuración, elaboración y presentación de menús de bajo coste. 
                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Configuración, elaboración y presentación de menús de gala para celebraciones especiales. 

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Configuración y realización de pedidos de las materias primas.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Relación profesional con los distintos proveedores.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Verificación y anotación de los distintos registros de cocina:  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Registros de recepción de pedidos.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Registros de temperaturas de las cámaras frigoríficas y arcones congeladores.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Registros de la limpieza de los distintos elementos de cocina.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Registros de cambio de aceite de freidoras.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Registros de la elaboración de menús.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Elaboración de escandallos de los distintos platos.    

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Responsable de contratación de menús especiales con los clientes. 

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Responsable del asesoramiento a la empresa de la contratación de personal de sustitución. 

    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 mt-5 flex flex-col items-center")
        

        img(src="/img/camaraNaval.png", alt="logo empresa" class="w-10 h-24 ")
        
        h2(class="text-center font-bold text-base text-indigo-600 mt-5") Cámara Naval de Suboficiales: 
        
        div(class="flex flex-col md:flex-row items-center mt-5")
            div(class="md:w-2/6 ")

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Fecha: 
                    span(class="font-normal text-black") 12 Junio 2014 - 31 Enero 2015  

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Ocupación: 
                    span(class="font-normal text-black") Jefe de cocina.

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Lugar: 
                    span(class="font-normal text-black") Cámara naval de Suboficiales, Madrid, España.

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Empresa: 
                    span(class="font-normal text-black") Sabores y aromas del mediterráneo S.L. 


            div(class="md:w-4/6 flex flex-col p-5 justify-center md:border-s-2 border-gray-200")
                

                table(class="text-xs text-gray-800 text-center font-bold  p-2 mt-3 w-full mx-auto border border-gray-200")
                    t-head 
                        tr 
                            th(class="border border-gray-200 p-2 bg-gray-100") Funciones:

                    t-body
                        tr
                            td(class="text-xs font-normal p-2 border border-gray-200") Configuración, elaboración y presentación de menús de bajo coste. 
                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Configuración, elaboración y presentación de menús de gala para celebraciones especiales. 

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Configuración y realización de pedidos de las materias primas.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Relación profesional con los distintos proveedores.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Verificación y anotación de los distintos registros de cocina:  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Registros de recepción de pedidos.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Registros de temperaturas de las cámaras frigoríficas y arcones congeladores.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Registros de la limpieza de los distintos elementos de cocina.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Registros de cambio de aceite de freidoras.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Registros de la elaboración de menús.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Elaboración de escandallos de los distintos platos.    

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Responsable de contratación de menús especiales con los clientes. 

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Responsable del asesoramiento a la empresa de la contratación de personal de sustitución. 

    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 mt-5 flex flex-col items-center")
        

        img(src="/img/camaraNaval.png", alt="logo empresa" class="w-10 h-24 ")
        
        h2(class="text-center font-bold text-base text-indigo-600 mt-5") Cámara Naval de Suboficiales: 
        
        div(class="flex flex-col md:flex-row items-center mt-5")
            div(class="md:w-2/6 ")

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Fecha: 
                    span(class="font-normal text-black") 01 Noviembre 2008 - 31 Marzo 2014    

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Ocupación: 
                    span(class="font-normal text-black") Jefe de cocina.

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Lugar: 
                    span(class="font-normal text-black") Cámara naval de Suboficiales, Madrid, España.

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Empresa: 
                    span(class="font-normal text-black") Actividades Diversas de Contratación S.L. 


            div(class="md:w-4/6 flex flex-col p-5 justify-center md:border-s-2 border-gray-200")
                

                table(class="text-xs text-gray-800 text-center font-bold  p-2 mt-3 w-full mx-auto border border-gray-200")
                    t-head 
                        tr 
                            th(class="border border-gray-200 p-2 bg-gray-100") Funciones:

                    t-body
                        tr
                            td(class="text-xs font-normal p-2 border border-gray-200") Configuración, elaboración y presentación de menús de bajo coste. 
                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Configuración, elaboración y presentación de menús de gala para celebraciones especiales. 

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Configuración y realización de pedidos de las materias primas.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Relación profesional con los distintos proveedores.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Verificación y anotación de los distintos registros de cocina:  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Registros de recepción de pedidos.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Registros de temperaturas de las cámaras frigoríficas y arcones congeladores.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Registros de la limpieza de los distintos elementos de cocina.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Registros de cambio de aceite de freidoras.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Registros de la elaboración de menús.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Elaboración de escandallos de los distintos platos.    

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Responsable de contratación de menús especiales con los clientes. 

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Responsable del asesoramiento a la empresa de la contratación de personal de sustitución. 

    div(class="space-x-5 bg-white w-11/12 mx-auto p-5 mt-5 flex flex-col items-center")
        

        img(src="/img/cdscm.png", alt="logo empresa" class="w-20 h20 ")
        
        h2(class="text-center font-bold text-xl text-indigo-600 mt-5") Centro Deportivo y Socio Cultural del Cuartel de Cuatro Vientos: 
        
        div(class="flex flex-col md:flex-row items-center mt-5")
            div(class="md:w-2/6 ")

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Fecha: 
                    span(class="font-normal text-black") 17 Septiembre 2010 - 31 Julio 2013    

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Ocupación: 
                    span(class="font-normal text-black") Jefe de cocina.

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Lugar: 
                    span(class="font-normal text-black") Centro Deportivo y Socio Cultural del Cuartel de Cuatro Vientos.

                p(class="text-xs text-gray-700 font-bold  px-2 leading-5 mt-3") Empresa: 
                    span(class="font-normal text-black") Empresa concesionaria de la explotación de restauración. 


            div(class="md:w-4/6 flex flex-col p-5 justify-center md:border-s-2 border-gray-200")
                

                table(class="text-sm text-gray-800 text-center font-bold  p-2 mt-3 w-full mx-auto border border-gray-200")
                    t-head 
                        tr 
                            th(class="border border-gray-200 p-2 bg-gray-100") Funciones:

                    t-body
                        tr
                            td(class="text-xs font-normal p-2 border border-gray-200") Configuración, elaboración y presentación de menús de bajo coste. 
                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Configuración, elaboración y presentación de menús de gala para celebraciones especiales. 

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Configuración y realización de pedidos de las materias primas.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Relación profesional con los distintos proveedores.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Verificación y anotación de los distintos registros de cocina:  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Registros de recepción de pedidos.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Registros de temperaturas de las cámaras frigoríficas y arcones congeladores.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200")  Registros de la limpieza de los distintos elementos de cocina.  

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Registros de cambio de aceite de freidoras.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Registros de la elaboración de menús.

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Elaboración de escandallos de los distintos platos.    

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Responsable de contratación de menús especiales con los clientes. 

                        tr 
                            td(class="text-xs font-normal p-2 border border-gray-200") Responsable del asesoramiento a la empresa de la contratación de personal de sustitución. 

     

      
      

    